<!-- <h3> Login Page </h3>
<form [formGroup]="person" (ngSubmit)="saveRec()"> 
<input type="text" matInput formControlName="username"> <br>
<input type="text" matInput formControlName="password"> <br>

<button type="submit" [disabled]="!person.valid"> Login </button>
<button type="button" (click)="funReg()">Register </button>
<button type="button" (click)="funBack()"> Back </button>
</form>

<a routerLink='/login/view/exist'> Existing User </a>

<a routerLink='/login/view/newuser'> New User </a>

<router-outlet></router-outlet>


Pagination  -->
